@import "compass";
@import "compass/css3";

@import "vars/vars";
@import "vars/colors";

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

/*==========  Main settings  ==========*/


html, body {
height:100%;
margin:0;
padding:0;
}

/*==========  Header  ==========*/
@import "layout/Header/header";

